/* MOBILE FIRST (smartphones, até 767px) */
.badge-container {
  display: flex;
}

.badge-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 40em;
  gap: 1rem;
}

.badge-name {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

.badge {
  background-color: var(--color-overlay-light);
  padding: 0.8rem 1.5rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--color-text);
  font-weight: 500;
  transition: background-color 0.3s;
}

.badge:hover {
  background-color: var(--color-overlay-medium);
}

/* TABLET (mínimo 768px) */
@media (min-width: 768px) {
  .badge-content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 40em;
    gap: 1rem;
  }
}

/* DESKTOP (mínimo 1200px) */
@media (min-width: 1200px) {
  .badge-content {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 40em;
    gap: 1rem;
  }
}
