.skills-container {
  justify-content: center;
  display: flex;
}

.skills-content {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  max-width: 40em;
  gap: 1rem;
}

.skill-name {
  font-family: 'Inter', sans-serif;
}

.skill-badge {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.8rem 1.5rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: white;
  font-weight: 500;
  transition: background-color 0.3s;
}

.skill-badge:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
