.pagination {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 15px 0 0;
}

.pagination__arrow {
  background: none;
  border-style: none;
  font-size: 20px;
  cursor: pointer;
  color: var(--color-text);
}

.pagination__arrow:disabled {
  opacity: var(--color-disabled);
  cursor: not-allowed;
}

.pagination__dot {
  opacity: var(--color-dot-inactive);
  border-radius: 360px;
  border-style: none;
  background-color: var(--color-border-light);
  width: 10px;
  height: 10px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination__dot-active {
  opacity: 1;
  background-color: var(--color-primary-hover);
}

.pagination__info {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
}
