/* MOBILE FIRST (smartphones, até 767px) */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 20px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.avatar {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 4px solid white;
  object-fit: cover;
  margin-bottom: 16px;
}

.title {
  font-weight: bold;
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

.role {
  font-weight: bold;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  text-align: center;
  margin-top: 10px;
}

.outline-button {
  width: 100%;
  max-width: 250px;
  margin-top: 30px;
  text-align: center;
}

/* TABLET (mínimo 768px) */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    padding: 80px;
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }

  .title,
  .role {
    text-align: left;
  }

  .avatar {
    width: 220px;
    height: 220px;
  }
}

/* DESKTOP (mínimo 1200px) */
@media (min-width: 1200px) {
  .container {
    padding: 120px 150px 50px 150px;
  }

  .left {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .avatar {
    width: 250px;
    height: 250px;
  }

  .title {
    font-size: 30px;
  }

  .role {
    font-size: 20px;
  }
}
