/* Mobile first */
.header {
  font-family: 'Inter', sans-serif;
  position: fixed;
  width: 100%;
  background-color: var(--color-header-background);
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  padding: 15px;
}

.logo a {
  font-size: 20px;
  color: var(--color-text);
  text-decoration: none;
  transition: 0.3s ease;
}

.logo a:hover {
  transform: translateY(-5px);
}

.logo span {
  color: var(--color-text);
}

/* Hamburger button */
.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 38px;
  color: var(--color-text);
}

/* Menu hidden by default (mobile) */
.menu {
  display: none;
  position: absolute;
  top: 60px;
  right: 50px;
  background-color: var(--color-text);
  flex-direction: column;
  padding: 10px;
  border-radius: 4px;
  width: 200px;
}

.menu.open {
  display: flex;
}

.menu li {
  list-style: none;
  margin: 10px 0;
}

.menu li a {
  text-decoration: none;
  color: var(--color-header-background);
  font-size: 16px;
}

.menu li a:hover {
  color: var(--color-primary-hover);
}

.social-media-icon {
  vertical-align: middle;
  color: var(--color-text);
}

.menu.open .social-media-icon {
  color: var(--color-header-background) !important;
}

.language-toggle {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.language-toggle span {
  font-weight: 600;
  font-size: 14px;
}

.language-toggle-flag {
  width: 1.3em;
  height: 1.3em;
  box-shadow: 0 0 2px #0002;
}

/* Tablet (≥ 768px) */
@media (min-width: 768px) {
  .menu {
    top: 65px;
    right: 20px;
    width: 250px;
  }

  .logo a {
    font-size: 22px;
  }
}

/* Desktop (≥ 1024px) */
@media (min-width: 1024px) {
  .menu,
  .menu.open {
    position: static;
    display: flex !important;
    flex-direction: row !important;
    background: none;
    padding: 15px;
    width: auto;
  }

  .menu li {
    margin: 0 30px;
  }

  .menu li a {
    color: var(--color-text);
    font-size: 15px;
  }

  .menu-toggle {
    display: none;
  }

  .logo a {
    font-size: 25px;
  }
}
